body {
    background: #171717;
}

/** Text Gradient Example */ 
.text-gradient {
    color: #334766; 
    background-image: linear-gradient(45deg, #334766 , #72E8DA 50%, #9ED980 100%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 8px;
    width: 280px;
    border-style: solid;
    border-color: #334766;
}

h1 {
    font-size: 42px;
}
